header.well{
	border-radius: 0;
	margin-bottom: 0;
}

.navbar{
	border-radius: 0;
	margin-bottom: 10px;
}

.row.large-clearing{
	margin: 20px auto
}

.circle-crop-200{	
	display: block;
	overflow: hidden;
	text-align: center;
	border-radius: 100px;
	height: 200px;
	width: 200px;
	border: 8px solid #fff;
	box-shadow: 4px 4px 10px #000;
	margin: 0 auto;
}