header.well{
	border-radius: 0;
	margin-bottom: 0;
}


content{
	margin-top: 10px;
}


.btn-numpad{
	border-radius: 0;
	padding: 12px;
	font-size: 36px;
	cursor: pointer;
}

.modal-details h2, .modal-details h3{
	margin: 0;
}

.modal-details h1{
	padding-top: 20px;
}

.navbar{
	border-radius: 0;
	transition: all .5s;
}

.primary{
	color: #428bca;
}

time-display h1, time-display h4{
	margin: 0;
}

time-display h1 {
	font-size: 60px;
}

time-display h4{
	font-size: 24px;
}

time-display{
	color: #fff;
	background: rgba(0, 0, 0, .5);
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 20px;
	margin: 0;
}

.pin{
	border-radius: 0;
	text-align: center;
	line-height: 36px;
	font-size: 32px;
	height: 54px;
	margin-top: -10px;
}
.modal-details{
	margin-left: 20px;
}

.row.large-clearing{
	margin: 20px auto
}

.hand-pointed{
	cursor: pointer;
}

.btn-stub{
	text-align: center;
	transition: all .5s;
	margin-bottom: 20px;
}

.btn-stub > .circle-crop-200:hover{
	box-shadow: 0 0 18px 6px #5cb85c;
}


.circle-crop-200{	
	display: block;
	overflow: hidden;
	text-align: center;
	border-radius: 100px;
	height: 200px;
	width: 200px;
	border: 8px solid #fff;
	box-shadow: 0 0 18px #000;
	margin: 0 auto;
	background-color: #fff;
	transition: all .5s;
}

.logged-in{
	border-color: #fff;
	box-shadow: 0 0 18px 6px #428bca;
}

.errors {
	text-align: center;
}

#go-fullscreen{

}